* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Anti-peek */
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #f4f6f9;
    color: #222;
    text-align: center;
    padding-bottom: 70px;
    -webkit-touch-callout: none;
}

header {
    background: #1a73e8;
    color: #fff;
    padding: 20px;
}

#timer {
    margin: 35px auto;
    font-size: 1.2rem;
}

#results {
    margin: 40px auto;
    background: #fff;
    width: 85%;
    max-width: 500px;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 12px 28px rgba(0,0,0,0.15);
}

#results ol {
    text-align: left;
    font-size: 1.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1a73e8;
    color: white;
    padding: 10px;
}
